<div class="card">
    <div class="card-header">
      <strong>{{setProductValue?.cardHeaderName}}</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="company">Category Name</label>
        <input type="text" class="form-control" id="category_name" placeholder="Enter category name">
      </div>
      <div class="form-group">
        <label for="vat">Category Discription</label>
        <input type="text" class="form-control" id="vat" placeholder="Enter category siscription">
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" id="street" placeholder="Enter street name">
      </div>
      <div class="row">
        <div class="form-group col-sm-8">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" placeholder="Enter your city">
        </div>
        <div class="form-group col-sm-4">
          <label for="postal-code">Postal Code</label>
          <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
        </div>
      </div><!--/.row-->
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="Country name">
      </div>
      <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
              <div class="row">
                <div class="col-6">
                    <button type="button" [ngClass]="setProductValue.saveButtonClass" (click)="onSaveChangesClick()">{{setProductValue.saveButtonName}}</button>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-block btn-dark" (click)="onCloseClick()">Close</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>