.card-group {
    padding-top: 2% ;
}

.setBackgrouondImg{
    // background-image: url('../../../../assets/img//backgroun1.jpg');
    // background-color: blac;
}

.LogoClass{
    width: 34%;
    margin-left: 33%;
    margin-top: 3%;
}